abbr[title] {
    text-decoration: none !important;
}

.calendar {

}

.calendar .react-calendar__tile {
    border: 1px solid #DCE0EB;
}

.calendar .react-calendar__navigation__next2-button {
    display: none;
}

.calendar .react-calendar__navigation__prev2-button {
    display: none;
}

.calendar .react-calendar__navigation__label {
    order: -1;
}

.date-picker .react-date-picker__wrapper {
    border: none !important;
}

.date-picker .react-date-picker__clear-button__icon {
    display: none !important;
}

.date-picker .react-date-picker__inputGroup {
    display: none !important;
}

